@require '../tokens/'

[class*='padding']
	--Baseline: $tk.RhythmVertical.varDef
	--LinesPaddingTop 0
	--LinesPaddingRight 0
	--LinesPaddingBottom 0
	--LinesPaddingLeft 0
	--PaddingTop calc(var(--Baseline) * var(--LinesPaddingTop, 0))
	--PaddingRight calc(var(--Baseline) * var(--LinesPaddingRight, 0))
	--PaddingBottom calc(var(--Baseline) * var(--LinesPaddingBottom, 0))
	--PaddingLeft calc(var(--Baseline) * var(--LinesPaddingLeft, 0))
	padding var(--PaddingTop) var(--PaddingRight) var(--PaddingBottom) var(--PaddingLeft)

.padding
	&Top
		for $num in 0 .. $tk.GridColumns.val
			&{$num}
				--LinesPaddingTop $num

	&Right
		for $num in 0 .. $tk.GridColumns.val
			&{$num}
				--LinesPaddingRight $num

	&Bottom
		for $num in 0 .. $tk.GridColumns.val
			&{$num}
				--LinesPaddingBottom $num

	&Left
		for $num in 0 .. $tk.GridColumns.val
			&{$num}
				--LinesPaddingLeft $num

[class*='margin']
	--Baseline: $tk.RhythmVertical.varDef
	--LinesMarginTop 0
	--LinesMarginRight 0
	--LinesMarginBottom 0
	--LinesMarginLeft 0
	--MarginTop calc(var(--Baseline) * var(--LinesMarginTop, 0))
	--MarginRight calc(var(--Baseline) * var(--LinesMarginRight, 0))
	--MarginBottom calc(var(--Baseline) * var(--LinesMarginBottom, 0))
	--MarginLeft calc(var(--Baseline) * var(--LinesMarginLeft, 0))
	margin var(--MarginTop) var(--MarginRight) var(--MarginBottom) var(--MarginLeft)

.margin
	&Top
		for $num in 0 .. $tk.GridColumns.val
			&{$num}
				--LinesMarginTop $num

	&Right
		for $num in 0 .. $tk.GridColumns.val
			&{$num}
				--LinesMarginRight $num

	&Bottom
		for $num in 0 .. $tk.GridColumns.val
			&{$num}
				--LinesMarginBottom $num

	&Left
		for $num in 0 .. $tk.GridColumns.val
			&{$num}
				--LinesMarginLeft $num
