@require '../tokens/'

generateRootCustomProps()

[class*='color']
	--Color: $tk.ColorDark.varDef
	color var(--Color)

$colorsNames = Primary Secondary Success Danger Warning Info Light Dark
$colorsPairs = Light Light Light Light Dark Dark Dark Light

for $index in range(0, length($colorsNames) - 1)
	$colorName = $colorsNames[$index]

	.color{$colorName}
		--Color convert('var(--Color' + $colorName + ')')

[class*='background']
	--BackgroundColor transparent
	color var(--Color)
	background-color var(--BackgroundColor)
	color var(--Color)

for $index in range(0, length($colorsNames) - 1)
	$colorName = $colorsNames[$index]
	$colorPair = $colorsPairs[$index]

	.background{$colorName}
		--BackgroundColor convert('var(--Color' + $colorName + ')')
		--Color convert('var(--Color' + $colorPair + ')')
