html
  head
    link(rel='stylesheet', href='../_docs/index.css')
    link(rel='stylesheet', href='../reset/index.css')
    link(rel='stylesheet', href='../typography/index.css')
    link(rel='stylesheet', href='./index.css')
  body.doc
    h1.heading0 Color

    section
      h1.heading1 Text color

      .demo.font
        .colorPrimary colorPrimary
        .colorSecondary colorSecondary
        .colorSuccess colorSuccess
        .colorDanger colorDanger
        .colorWarning colorWarning
        .colorInfo colorInfo
        .colorLight colorLight
        .colorDark colorDark

    section
      h1.heading1 Background color

      .demo.font
        .backgroundPrimary .backgroundPrimary
        .backgroundSecondary .backgroundSecondary
        .backgroundSuccess .backgroundSuccess
        .backgroundDanger .backgroundDanger
        .backgroundWarning .backgroundWarning
        .backgroundInfo .backgroundInfo
        .backgroundLight .backgroundLight
        .backgroundDark .backgroundDark
