html
	head
		link(rel='stylesheet', href='../_docs/index.css')
		link(rel='stylesheet', href='../reset/index.css')
		link(rel='stylesheet', href='../typography/index.css')
		link(rel='stylesheet', href='./index.css')
	body.doc
		h1.heading0 Color

		section
			h1.heading1 Text color

			.demo.demoColor
				.colorPrimary colorPrimary
				.colorPrimaryLight colorPrimaryLight
				.colorSecondary colorSecondary
				.colorSecondaryLight colorSecondaryLight
				.colorSuccess colorSuccess
				.colorSuccessLight colorSuccessLight
				.colorDanger colorDanger
				.colorDangerLight colorDangerLight
				.colorWarning colorWarning
				.colorWarningLight colorWarningLight
				.colorInfo colorInfo
				.colorInfoLight colorInfoLight
				.colorLight colorLight
				.colorLightLight colorLightLight
				.colorDark colorDark
				.colorDarkLight colorDarkLight

		section
			h1.heading1 Background color

			.demo.demoBackground
				.backgroundPrimary .backgroundPrimary
				.backgroundPrimaryLight .backgroundPrimaryLight
				.backgroundSecondary .backgroundSecondary
				.backgroundSecondaryLight .backgroundSecondaryLight
				.backgroundSuccess .backgroundSuccess
				.backgroundSuccessLight .backgroundSuccessLight
				.backgroundDanger .backgroundDanger
				.backgroundDangerLight .backgroundDangerLight
				.backgroundWarning .backgroundWarning
				.backgroundWarningLight .backgroundWarningLight
				.backgroundInfo .backgroundInfo
				.backgroundInfoLight .backgroundInfoLight
				.backgroundLight .backgroundLight
				.backgroundLightLight .backgroundLightLight
				.backgroundDark .backgroundDark
				.backgroundDarkLight .backgroundDarkLight
