@require '../tokens/'

//update with tokens themes

// generateRootCustomProps()

[class*='color']
	--Color: $tokens.ColorDarkMain.varDef
	color var(--Color)

[class*='background']
	--BackgroundColor transparent
	--Color: $tokens.ColorDarkMain.varDef
	color var(--Color)
	background-color var(--BackgroundColor)

for $colorName, $colorConfig in $tokensJson.color
	for $colorVariant, $val in $colorConfig
		if ($colorVariant == 'main')
			$colorVaviantName = ''
		else
			$colorVaviantName = $colorVariant
		.color{capitalize($colorName) + capitalize($colorVaviantName)}
			--Color $val.value
		.background{capitalize($colorName) + capitalize($colorVaviantName)}
			--Color $val.textColor
			--BackgroundColor $val.value




// for $index in range(0, length($colorsNames) - 1)
// 	$colorName = $colorsNames[$index]
// 	$colorPair = $colorsPairs[$index]

// 	.background{$colorName}
// 		--BackgroundColor convert('var(--Color' + $colorName + ')')
// 		--Color convert('var(--Color' + $colorPair + ')')
