html
	head
		link(rel='stylesheet', href='../_docs/index.css')
		link(rel='stylesheet', href='../reset/index.css')
		link(rel='stylesheet', href='./index.css')
	body.doc
		h1.heading1 Typography

		section
			h1.heading2 Headings
			.demo
				.heading00 Heading 00 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				.heading0 Heading 0 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				.heading1 Heading 1 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				.heading2 Heading 2 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				.heading3 Heading 3 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				.heading4 Heading 4 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				.heading5 Heading 5 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				.heading6 Heading 6 Lorem, ipsum dolor sit amet consectetur adipisicing elit.

		section
			h1.heading2 Paragraph
			.demo
				.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				p.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				span.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				h1.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit.

		section
			h1.heading2 Inline text elements
			.demo
				p.paragraph
					| You can use the mark tag to
					mark highlight
					|	text.
				p.paragraph
					del This line of text is meant to be treated as deleted text.
				p.paragraph
					s This line of text is meant to be treated as no longer accurate.
				p.paragraph
					ins This line of text is meant to be treated as an addition to the document.
				p.paragraph
					u This line of text will render as underlined.
				p.paragraph
					small This line of text is meant to be treated as fine print.
				p.paragraph
					strong This line rendered as bold text.
				p.paragraph
					em This line rendered as italicized text.

		section
			h1.heading2 Abbreviations

			.demo
				p.paragraph
					abbr(title='attribute') attr
				p.paragraph
					abbr.initialism(title='HyperText Markup Language') HTML

		section
			h1.heading2 Blockquotes

			.demo
				blockquote.blockquote
					| A well-known quote, contained in a blockquote element.
				.docIgnore.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				blockquote.blockquote
					| A well-known quote, contained in a blockquote element.
				.docIgnore.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				.blockquote
					| A well-known quote, contained in a blockquote element.
				.docIgnore.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				span.blockquote
					| A well-known quote, contained in a blockquote element.
				.blockquote
					| A well-known quote, contained in a blockquote element.
				.docIgnore.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				div
					.blockquote
						| A well-known quote, contained in a blockquote element.
				.heading3 Heading 3 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				.blockquote
					| A well-known quote, contained in a blockquote element.

		section
			h1.heading2 Font modifiers

			section
				h1.heading3 Font Family
				.demo
					.fontFamilyDefault Default
					.fontFamilyHeading Heading
					.fontFamilyMonospaced Monospaced

			section
				h1.heading3 Font Size
				.demo
					.fontSize05 fontSize 0.5
					.fontSize075 fontSize 0.75
					.fontSize1 fontSize 1
					.fontSize2 fontSize 2
					.fontSize3 fontSize 3

			section
				h1.heading3 Font Weight
				.demo
					.fontWeight9 fontWeight9
					.fontWeight8 fontWeight8
					.fontWeight7 fontWeight7
					.fontWeight6 fontWeight6
					.fontWeight5 fontWeight5
					.fontWeight4 fontWeight4
					.fontWeight3 fontWeight3
					.fontWeight2 fontWeight2
					.fontWeight1 fontWeight1

			section
				h1.heading3 Font style
				.demo
					.fontStyleNormal fontStyleNormal
					.fontStyleItalic fontStyleItalic

			section
				h1.heading3 Text transform
				.demo
					.textTransformUppercase fontTransformUppercase
					.textTransformLowercase fontTransformLowercase
					.textTransformCapitalize fontTransformCapitalize
					.textTransformNone fontTransformNone

			section
				h1.heading3 Text align
				.demo
					.textAlignLeft textAlignLeft
					.textAlignCenter textAlignCenter
					.textAlignRight textAlignRight
					.textAlignJustify textAlignJustify







		section
			h1.heading2 Lists

			.demo
				ul.list
					li simple
					li UL list

				ol.list
					li simple
					li OL list

				.list
					div simple
					div DIV list

				ul.list
					li nested
					li item
					li item
						ul.list
							li list nested
							li item
							li item

				ul.list.listStylePositionInside
					li listStylePositionInside
					li item
					li item

				ul.list.listStylePositionOutside
					li listStylePositionOutside
					li item
					li item

				ul.list
					li simple
					li DIV list

				ul.list.listStyleTypeDisc
					li listStyleTypeDisc
					li item
					li item

				ul.list.listStyleTypeCircle
					li listStyleTypeCircle
					li item
					li item

				ul.list.listStyleTypeSquare
					li listStyleTypeSquare
					li item
					li item

				ul.list.listStyleTypeDecimal
					li listStyleTypeDecimal
					li item
					li item

				ul.list.listStyleTypeDecimalLeadingZero
					li listStyleTypeDecimalLeadingZero
					li item
					li item

				ul.list.listStyleTypeLowerRoman
					li listStyleTypeLowerRoman
					li item
					li item

				ul.list.listStyleTypeUpperRoman
					li listStyleTypeUpperRoman
					li item
					li item

				ul.list.listStyleTypeLowerLatin
					li listStyleTypeLowerLatin
					li item
					li item

				ul.list.listStyleTypeUpperLatin
					li listStyleTypeUpperLatin
					li item
					li item

				ul.list.listStyleTypeLowerAlpha
					li listStyleTypeLowerAlpha
					li item
					li item

				ul.list.listStyleTypeUpperAlpha
					li listStyleTypeUpperAlpha
					li item
					li item

				ul.list.listStyleTypeNone
					li listStyleTypeNone
					li item
					li item



