@require '../tokens/'

@property --ceilLines
  syntax '<integer>'
  initial-value 0
  inherits false

@property --ceilHalfLine
  syntax '<integer>'
  initial-value 0
  inherits false

[class*="font"]
  --fontFamily $tk.FontFamilyDefault.val
  --fontSize $tk.FontSizeDefault.varDef
  --fontWeight $tk.FontWeightRegular.varDef
  --fontStyle $tk.FontStyleNormal.varDef
  --textTransform $tk.FontTransformNone.varDef
  font var(--fontStyle) var(--fontWeight) var(--fontSize) var(--fontFamily)
  text-transform var(--textTransform)

[class*="heading"]
  --fontFamily $tk.FontFamilyDefault.val
  --baseline $tk.RhythmVertical.varDef
  --ceilHalfLine calc(calc(var(--lines) / 2) + .5)
  --ceilLines calc(var(--lines) + .5)
  --lines 3
  --fontSize calc(var(--baseline) * calc(var(--lines)))
  --fontStyle $tk.FontStyleNormal.varDef
  --fontWeight $tk.FontWeightSemiBold.varDef

  font var(--fontStyle) var(--fontWeight) var(--fontSize) var(--fontFamily)
  color var(--color, var(--ColorText, #212529))
  line-height calc(var(--baseline) * var(--ceilLines))
  margin 0 0 calc(var(--ceilHalfLine) * var(--baseline)) 0
  padding 0

.heading
  &00
    --lines 6
  &0
    --lines 5
  &1
    --lines 4
  &2
    --lines 3
  &3
    --lines 2.5
  &4
    --lines 2
  &5
    --lines 1.75
  &6
    --lines 1.5


.paragraph
  --baseline $tk.RhythmVertical.varDef
  --fontStyle $tk.FontStyleNormal.varDef
  --fontWeight $tk.FontWeightRegular.varDef
  --fontSize $tk.FontSizeDefault.varDef
  --fontFamily $tk.FontFamilyDefault.val
  font var(--fontStyle) var(--fontWeight) var(--fontSize) var(--fontFamily)
  color var(--color, var(--ColorText, #212529))
  line-height var(--baseline)
  margin 0 0 var(--baseline) 0
  &:only-child
    margin 0

.blockquote
  --baseline $tk.RhythmVertical.varDef
  margin 0
  padding var(--baseline)

.list
  --baseline $tk.RhythmVertical.varDef
  --fontStyle $tk.FontStyleNormal.varDef
  --fontWeight $tk.FontWeightRegular.varDef
  --fontSize $tk.FontSizeDefault.varDef
  --fontFamily $tk.FontFamilyDefault.val
  font var(--fontStyle) var(--fontWeight) var(--fontSize) var(--fontFamily)
  color var(--color, var(--ColorText, #212529))
  line-height var(--baseline)
  margin 0
  padding var(--baseline)

  & > *
    display block
    margin 0 0 var(--baseline) 0

  &.unstyled
    list-style none

.font

  &Family
    &Default
      --fontFamily $tk.FontFamilyDefault.val
    &Primary
      --fontFamily $tk.FontFamilyPrimary.val
    &Monospaced
      --fontFamily $tk.FontFamilyMonospaced.val

  &Size
    &Large4
      --fontSize $tk.FontSizeLarge4.val
    &Large3
      --fontSize $tk.FontSizeLarge3.val
    &Large2
      --fontSize $tk.FontSizeLarge2.val
    &Large1
      --fontSize $tk.FontSizeLarge1.val
    &Large
      --fontSize $tk.FontSizeLarge.val
    &Default
      --fontSize $tk.FontSizeDefault.val
    &Small
      --fontSize $tk.FontSizeSmall.val
    &Small1
      --fontSize $tk.FontSizeSmall1.val
    &Small2
      --fontSize $tk.FontSizeSmall2.val

  &Weight
    &Black
      --fontWeight $tk.FontWeightBlack.val
    &ExtraBold
      --fontWeight $tk.FontWeightExtraBold.val
    &Bold
      --fontWeight $tk.FontWeightBold.val
    &SemiBold
      --fontWeight $tk.FontWeightSemiBold.val
    &Medium
      --fontWeight $tk.FontWeightMedium.val
    &Regular
      --fontWeight $tk.FontWeightRegular.val
    &Light
      --fontWeight $tk.FontWeightLight.val
    &ExtraLight
      --fontWeight $tk.FontWeightExtraLight.val
    &Thin
      --fontWeight $tk.FontWeightThin.val
    &Bolder
      --fontWeight $tk.FontWeightBolder.val
    &Lighter
      --fontWeight $tk.FontWeightLighter.val

  &Style
    &Normal
      --fontStyle $tk.FontStyleNormal.val
    &Italic
      --fontStyle $tk.FontStyleItalic.val

  &Transform
    &Uppercase
      --textTransform $tk.FontTransformUppercase.val
    &Lowercase
      --textTransform $tk.FontTransformLowercase.val
    &Capitalize
      --textTransform $tk.FontTransformCapitalize.val
    &None
      --textTransform $tk.FontTransformNone.val
