html
  head
    link(rel='stylesheet', href='../_docs/index.css')
    link(rel='stylesheet', href='./index.css')
  body.doc
    h1 Typography

    section
      h1 Headings

      .demo
        h1.heading00 Heading 00 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        h1.heading0 Heading 0 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        h1.heading1 Heading 1 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        h2.heading2 Heading 2 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        h3.heading3 Heading 3 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        h4.heading4 Heading 4 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        h5.heading5 Heading 5 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        h6.heading6 Heading 6 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
