@require '../tokens/'

@property --CeilLines
	syntax '<integer>'
	initial-value 0
	inherits false

@property --CeilHalfLine
	syntax '<integer>'
	initial-value 0
	inherits false

[class*='font'], [class*='text'], [class*='heading'], .paragraph, .list
	--Baseline: $tk.RhythmVertical.varDef
	--CeilLines calc(var(--Lines))
	--FontFamily: $tk.FontFamilyDefault.val
	--FontSize: $tk.FontSizeDefault.varDef
	--FontSizeCalc var(--FontSizeDefault, calc(var(--Baseline) * var(--Lines)))
	--FontStyle normal
	--FontVariant normal
	--FontWeight 400
	--LineHeight calc(var(--Baseline) * var(--CeilLines))
	--Lines 1
	--TextTransform none
	--MarginBottom 0
	--TextAlign var(--TextAlign, left)
	color var(--Color, var(--ColorText, #212529))
	font var(--FontStyle) var(--FontVariant) var(--FontWeight) unquote('var(--FontSizeCalc)/var(--LineHeight)') var(--FontFamily)
	// bug with custom properties with sintax var/var for font shorthand
	font-family var(--FontFamily)
	margin 0 0 calc(var(--MarginBottom) * var(--Baseline)) 0
	padding 0
	text-transform var(--TextTransform)
	text-align var(--TextAlign)

[class*='heading']
	--Lines 3
	--CeilHalfLine calc(calc((var(--Lines) / 2)) + 0.5)
	--FontWeight 600
	--FontSize calc(var(--Baseline) * calc(var(--Lines)))
	--LineHeight calc(var(--Baseline) * var(--CeilLines))
	--FontFamily: $tk.FontFamilyHeading.val
	// ??? --FontFamily $tk.FontFamilyDefault.val
	--MarginBottom var(--CeilHalfLine)

.heading
	&00
		--Lines 6

	&0
		--Lines 4

	&1
		--Lines 3

	&2
		--Lines 2.75

	&3
		--Lines 2.25

	&4
		--Lines 1.75

	&5
		--Lines 1.5

	&6
		--Lines 1.25

.paragraph
	--MarginBottom 1

	&:only-child
		margin 0

.blockquote
	--Baseline: $tk.RhythmVertical.varDef
	margin 0
	padding var(--Baseline)

.list
	--ListCounterSeparator ''
	--ListStyleType disc
	--MarginLeft 0
	counter-reset listCounter
	list-style none
	margin-bottom calc(var(--Baseline) * 2)

	& > *
		counter-increment listCounter
		margin-bottom calc((var(--Baseline) / 1))

		&:before
			display inline-block
			min-width calc(var(--Baseline) * 1.5)
			margin-right calc((var(--Baseline) / 2))
			margin-left calc(var(--Baseline) * var(--MarginLeft))
			text-align right
			content counter(listCounter, var(--ListStyleType)) var(--ListCounterSeparator)

	&Style
		&Position
			&Inside
				--ListStylePosition inside

			&Outside
				--ListStylePosition outside
				--MarginLeft -2

		&Type
			&None
				--ListStyleType none

				& > *:before
					display none

			&Disc
				--ListStyleType disc

			&Circle
				--ListStyleType circle

			&Square
				--ListStyleType square

			&Decimal, ^[0]:is(ol)
				--ListStyleType decimal
				--ListCounterSeparator '.'

			&DecimalLeadingZero
				--ListStyleType decimal-leading-zero
				--ListCounterSeparator '.'

			&LowerRoman
				--ListStyleType lower-roman
				--ListCounterSeparator '.'

			&UpperRoman
				--ListStyleType upper-roman
				--ListCounterSeparator '.'

			&LowerLatin
				--ListStyleType lower-latin
				--ListCounterSeparator '.'

			&UpperLatin
				--ListStyleType upper-latin
				--ListCounterSeparator '.'

			&LowerAlpha
				--ListStyleType lower-alpha
				--ListCounterSeparator '.'

			&UpperAlpha
				--ListStyleType upper-alpha
				--ListCounterSeparator '.'

.font
	&Family
		&Default
			--FontFamily: $tk.FontFamilyDefault.val

		&Heading
			--FontFamily: $tk.FontFamilyHeading.val

		&Monospaced
			--FontFamily: $tk.FontFamilyMonospaced.val

	&Size
		&Large4
			--Lines: $tk.FontSizeLarge4.varDef

		&Large3
			--Lines: $tk.FontSizeLarge3.val

		&Large2
			--Lines: $tk.FontSizeLarge2.val

		&Large1
			--Lines: $tk.FontSizeLarge1.val

		&Large
			--Lines: $tk.FontSizeLarge.val

		&Default
			--Lines: $tk.FontSizeDefault.val

		&Small
			--Lines: $tk.FontSizeSmall.val

		&Small1
			--Lines: $tk.FontSizeSmall1.val

		&Small2
			--Lines: $tk.FontSizeSmall2.val

	&Weight
		&9 // Black
			--FontWeight 900

		&8 // ExtraBold
			--FontWeight 800

		&7 // Bold
			--FontWeight 700

		&6 // SemiBold
			--FontWeight 600

		&5 // Medium
			--FontWeight 500

		&4 // Regular
			--FontWeight 400

		&3 // Light
			--FontWeight 300

		&2 // ExtraLight
			--FontWeight 200

		&1 // Thin
			--FontWeight 100

	&Style
		&Normal
			--FontStyle normal

		&Italic
			--FontStyle italic

.Text
	&Transform
		&Uppercase
			--TextTransform uppercase

		&Lowercase
			--TextTransform lowercase

		&Capitalize
			--TextTransform capitalize

		&None
			--TextTransform none

	&Align
		&Left
			--TextAlign left

		&Center
			--TextAlign center

		&Right
			--TextAlign right

		&Justify
			--TextAlign justify
