@require '../tokens/'

.font

  &Family
    &Default
      font-family $cpfontFamilyDefault
    &Primary
      font-family $cpfontFamilyPrimary
    &Monospaced
      font-family $cpfontFamilyMonospaced

  &Size
    &Large4
      font-size $cpfontSizeLarge4
    &Large3
      font-size $cpfontSizeLarge3
    &Large2
      font-size $cpfontSizeLarge2
    &Large1
      font-size $cpfontSizeLarge1
    &Large
      font-size $cpfontSizeLarge
    &Default
      font-size $cpfontSizeDefault
    &Small
      font-size $cpfontSizeSmall
    &Small1
      font-size $cpfontSizeSmall1
    &Small2
      font-size $cpfontSizeSmall2

  &Weight
    &Black
      font-weight $cpfontWeightBlack
    &ExtraBold
      font-weight $cpfontWeightExtraBold
    &Bold
      font-weight $cpfontWeightBold
    &SemiBold
      font-weight $cpfontWeightSemiBold
    &Medium
      font-weight $cpfontWeightMedium
    &Regular
      font-weight $cpfontWeightRegular
    &Light
      font-weight $cpfontWeightLight
    &ExtraLight
      font-weight $cpfontWeightExtraLight
    &Thin
      font-weight $cpfontWeightThin
    &Bolder
      font-weight $cpfontWeightBolder
    &Lighter
      font-weight $cpfontWeightLighter
