  body
    color green
    font-family: cursive;
    font-size 30px

  .doc

    .docBox
      background-color #007fff
      margin-bottom 16px
      padding 16px
      color #fff
      *
        background-color #036

    .demo
      background-color #eee
      padding 16px

    .row
      background #007fff
      padding 8px 0
      margin-bottom 8px
      border-radius 5px

    .row > *
      background #036
      border-radius 5px
      text-align center
      color #fff
      min-height 1rem
