@require '../tokens/'

body
	color green
	font-family cursive
	font-size 30px

@layer doc

	.doc
		--BaselineDocs: $tokens.RhythmVertical.varDef
		padding var(--BaselineDocs)
		font-family $tokens.FontFamilyDefault.val
		font-size var(--BaselineDocs)

		section
			margin-bottom calc(var(--BaselineDocs) * 4)

		.demoBackground
			[class*='background']
				line-height calc(var(--BaselineDocs) * 2)
				margin-bottom calc(var(--BaselineDocs) * 1)

		.demoHeight
			[class*='height']
				background-color #007fff
				margin-bottom calc(var(--BaselineDocs) * 1)
				font-family $tokens.FontFamilyDefault.val
				font-size var(--BaselineDocs)
				line-height var(--BaselineDocs)
				color #fff
				&:last-child
					margin-bottom 0

		.demoWidth
			[class*='width']
				background-color #036
				margin-bottom calc(var(--BaselineDocs) * 1)
				color #fff
				&:last-child
					margin-bottom 0


		[class*='paddingRight']
			text-align right

		.docBox
			background-color #007fff
			margin-bottom var(--BaselineDocs)
			padding var(--BaselineDocs)
			color #fff

			*
				background-color #036

		.demo
			background-color #eee
			padding var(--BaselineDocs)
			font-family $tokens.FontFamilyDefault.val
			font-size var(--BaselineDocs)
			line-height var(--BaselineDocs)

			.docIgnore
				color lightgray !important

			& > *
				position relative

				&:before
					content '.' attr(class)
					font-family monospace
					font-size var(--BaselineDocs)
					font-weight normal
					position absolute
					top 0
					right 0
					display none

		.row
			background #007fff
			padding calc((var(--BaselineDocs) / 1)) 0
			margin-bottom calc((var(--BaselineDocs) / 1))
			border-radius calc((var(--BaselineDocs) / 3))

			&:last-child
				margin-bottom 0

			&.align-items-start, &.align-items-end, &.align-items-center, &.align-items-baseline, &.align-items-stretch, &.wrap-yes.align-content-start, &.wrap-yes.align-content-end, &.wrap-yes.align-content-center, &.wrap-yes.align-content-spacebetween, &.wrap-yes.align-content-spacearound, &.wrap-yes.align-content-stretch
				height calc(var(--BaselineDocs) * 6)

			&.alignVerticalTop, &.alignVerticalBottom, &.alignVerticalCenter, &.alignVerticalStretch
				height calc(var(--BaselineDocs) * 6)

			&.alignContentStart, &.alignContentEnd, &.alignContentCenter, &.alignContentSpacebetween, &.alignContentSpacearound, &.alignContentStretch
				height calc(var(--BaselineDocs) * 10)


			[class*="col"] .row
				padding-top 0
				padding-bottom 0

				[class*="col"]
					background-color red

			& > *
				background #036
				border-radius calc((var(--BaselineDocs) / 3))
				text-align center
				color #fff
				min-height calc(var(--BaselineDocs) * 2)
				font-size var(--BaselineDocs)

				&[class*='order']
					background-color red
