@require '../tokens/'

.row
  --columns $cpgridColumns
  --alignContent normal
  --alignItems flex-start
  --flexDirection row
  --flexWrap nowrap
  --gapColumn $cpgridGapColumn
  --gapRow $cpgridGapRow
  --justifyContent flex-start
  align-content var(--alignContent)
  align-items var(--alignItems)
  contain layout // strict
  display flex
  flex-flow var(--flexDirection) var(--flexWrap)
  gap var(--gapRow) var(--gapColumn)
  justify-content var(--justifyContent)

  & > *
    --alignSelf auto
    --col 0
    --flexBasis 100%
    --flexGrow 0
    --flexShrink 1
    --marginLeft 0
    --order 0
    --width unset
    align-self var(--alignSelf)
    flex var(--flexGrow) var(--flexShrink) var(--flexBasis)
    margin 0
    margin-left var(--marginLeft)
    order var(--order)
    width var(--width)

[class*="col"]
  --flexBasis calc( ((100% - (var(--columns) - 1) * var(--gapColumn)) / var(--columns)) * var(--col) + var(--gapColumn) * (var(--col) - 1) )
  --flexShrink 0

[class*="offset"]
  --offset 0
  --totalGaps calc( (var(--columns) - 1) * var(--gapColumn) )
  --avaivalbeWidth calc(100% - var(--totalGaps))
  --onecolumnWidth calc(var(--avaivalbeWidth) / var(--columns))
  --gapsleft calc(var(--gapColumn) * var(--offset))
  --marginLeft calc(var(--onecolumnWidth) * var(--offset) + var(--gapsleft))

// Wrap columns
.wrap-
  &yes
    --flexWrap wrap
  &no
    --flexWrap nowrap
  &reverse
    --flexWrap wrap-reverse

.direction-
  &row
    --flexDirection row
  &rowReverse
    --flexDirection row-reverse
  &column
    --flexDirection column
    & > *
      --width var(--flexBasis)
  &columnReverse
    --flexDirection column-reverse
    & > *
      --width var(--flexBasis)

.col
  for $num in (1..convert($vgridColumns))
    &-{$num}
      --col $num

.offset
  for $num in (1..convert($vgridColumns))
    &-{$num}
      --offset $num
