@require '../tokens/'

.row
  --columns $cpgridColumns
  --alignContent normal
  --alignItems flex-start
  --flexDirection row
  --flexWrap nowrap
  --gapColumn $cpgridGapColumn
  --gapRow $cpgridGapRow
  --justifyContent flex-start
  align-content var(--alignContent)
  align-items var(--alignItems)
  contain layout // strict
  display flex
  flex-flow var(--flexDirection) var(--flexWrap)
  gap var(--gapRow) var(--gapColumn)
  justify-content var(--justifyContent)

  & > *
    --alignSelf auto
    --col 0
    --flexBasis 100%
    --flexGrow 0
    --flexShrink 1
    --order 0
    --width 100%
    align-self var(--alignSelf)
    flex var(--flexGrow) var(--flexShrink) var(--flexBasis)
    margin 0
    order var(--order)

    &:is([class*="col"])
      --flexBasis calc( ((100% - (var(--columns) - 1) * var(--gapColumn)) / var(--columns)) * var(--col) + var(--gapColumn) * (var(--col) - 1) )
      --flexShrink 0

.col
  for $num in (1..convert($vgridColumns))
    &-{$num}
      --col $num
