@require '../tokens/'

// $colorsNames = Primary Secondary Success Danger Warning Info Light Dark
// $colorsPairs = Light Light Light Light Dark Dark Dark Light
@layer box
	boxDefault('box')

@layer modifiers
	boxOutline()
