html
	head
		link(rel='stylesheet', href='../_docs/index.css')
		link(rel='stylesheet', href='../reset/index.css')
		link(rel='stylesheet', href='../typography/index.css')
		link(rel='stylesheet', href='./index.css')
	body.doc
		h1.heading0 Box


		section
			h1.heading1 Default

			.demo
				.box box
				.boxPrimary boxPrimary
				.boxSecondary boxSecondary
				.boxSuccess boxSuccess
				.boxDanger boxDanger
				.boxWarning boxWarning
				.boxInfo boxInfo
				.boxLight boxLight
				.boxDark boxDark

		section
			h1.heading1 Outline

			.demo
				.box.outline box
				.boxPrimary.outline boxPrimary
				.boxSecondary.outline boxSecondary
				.boxSuccess.outline boxSuccess
				.boxDanger.outline boxDanger
				.boxWarning.outline boxWarning
				.boxInfo.outline boxInfo
				.boxLight.outline boxLight
				.boxDark.outline boxDark
