html
	head
		link(rel='stylesheet', href='../_docs/index.css')
		link(rel='stylesheet', href='../reset/index.css')
		link(rel='stylesheet', href='../typography/index.css')
		link(rel='stylesheet', href='./index.css')
	body.doc
		h1.heading0 Button


		section
			h1.heading1 Color buttons

			.demo
				.button button
				.buttonPrimary buttonPrimary
				.buttonSecondary buttonSecondary
				.buttonSuccess buttonSuccess
				.buttonDanger buttonDanger
				.buttonWarning buttonWarning
				.buttonInfo buttonInfo
				.buttonLight buttonLight
				.buttonDark buttonDark

		section
			h1.heading1 Outline buttons

			.demo
				.button.outline button
				.buttonPrimary.outline buttonPrimary
				.buttonSecondary.outline buttonSecondary
				.buttonSuccess.outline buttonSuccess
				.buttonDanger.outline buttonDanger
				.buttonWarning.outline buttonWarning
				.buttonInfo.outline buttonInfo
				.buttonLight.outline buttonLight
				.buttonDark.outline buttonDark
