@require '../tokens/'

@layer box
	boxDefault('button')

	[class*=button]
		display inline-block
		cursor pointer
		white-space nowrap

		&:hover
			opacity .4

		&.disabled, &[disabled]
			opacity .3
			cursor not-allowed

		&.focus, &:focus
			opacity .6
			outline $tokens.FocusWidth.varDef solid $tokens.FocusColor.varDef

		&.active, &:active
			opacity .9

		&.size
			&1
				--Lines 1
			&2
				--Lines 2
			&3
				--Lines 3
			&4
				--Lines 4


@layer modifiers
	boxOutline()






