@require '../tokens/'

@layer box
	boxDefault('button')

	[class*=button]
		display inline-block
		cursor pointer
		white-space nowrap

		&:hover
			opacity .4

		&.disabled, &[disabled]
			opacity .3
			cursor not-allowed

		&.focus, &:focus
			opacity .6

		&.active, &:active
			opacity .8


@layer modifiers
	boxOutline()






