@require '../tokens/'

$colorsNames = Primary Secondary Success Danger Warning Info Light Dark
$colorsPairs = Light Light Light Light Dark Dark Dark Light

[class*='button']
	for $index in range(0, length($colorsNames) - 1)
		$colorName = $colorsNames[$index]
		// --Color{$colorName} lookup('$tk.color-' + $colorName)
		$tkcolor = $tk['Color' + $colorName]
		--Color{$colorName}: $tkcolor.val

	--lines 2
	--baseline: $tk.RhythmVertical.varDef
	--ceilLines calc(var(--lines))
	--FontSize: $tk.FontSizeDefault.varDef
	box-sizing border-box
	cursor pointer
	display inline-block
	user-select none
	white-space nowrap
	--TextAlign var(--TextAlign, left)
	text-align var(--TextAlign)
	--TextTransform none
	text-transform var(--TextTransform)
	text-decoration none
	--FontStyle normal
	--FontVariant normal
	--FontWeight 400
	--FontSizeCalc var(--FontSizeDefault, calc(var(--baseline) * (var(--lines) - 1)))
	--LineHeight calc(var(--baseline) * var(--ceilLines))
	--FontFamily: $tk.FontFamilyDefault.val
	// // bug with custom properties with sintax var/var for font shorthand
	font var(--FontStyle) var(--FontVariant) var(--FontWeight) unquote('var(--FontSizeCalc)/var(--LineHeight)') var(--FontFamily)
	font-family var(--FontFamily)
	padding 0 calc(var(--baseline) * (var(--lines) / 2))
	--BorderRadius calc((var(--baseline) / 3 * var(--lines) / 2))
	border-radius var(--BorderRadius)
	--BorderWidth calc((var(--baseline) / 16 * var(--lines) / 2))
	--BorderStyle solid
	--BorderColor var(--bgColor)
	border var(--BorderWidth) var(--BorderStyle) var(--BorderColor)
	--VerticalAlign middle
	vertical-align var(--VerticalAlign)
	--color: $tk.ColorLight.varDef
	color var(--color)
	--bgColor: $tk.ColorSecondary.varDef
	background-color var(--bgColor)

	& + [class*='button']
		margin-left calc(var(--baseline) * 1)

$colorsNames = Primary Secondary Success Danger Warning Info Light Dark
$colorsPairs = Light Light Light Light Dark Dark Dark Light

for $index in range(0, length($colorsNames) - 1)
	$colorName = $colorsNames[$index]
	$colorPair = $colorsPairs[$index]

	.button{$colorName}
		--bgColor convert('var(--Color' + $colorName + ')')
		--color convert('var(--Color' + $colorPair + ')')

.outline
	color var(--bgColor)
	background-color transparent
