html
	head
		link(rel='stylesheet', href='../_docs/index.css')
		link(rel='stylesheet', href='../reset/index.css')
		link(rel='stylesheet', href='../typography/index.css')
		link(rel='stylesheet', href='./index.css')
	body.doc
		h1.heading0 Button


		section
			h1.heading1 Color buttons

			.demo
				button.button button
				button.buttonPrimary buttonPrimary
				button.buttonSecondary buttonSecondary
				button.buttonSuccess buttonSuccess
				button.buttonDanger buttonDanger
				button.buttonWarning buttonWarning
				button.buttonInfo buttonInfo
				button.buttonLight buttonLight
				button.buttonDark buttonDark

		section
			h1.heading1 Outline buttons

			.demo
				button.button.outline button
				button.buttonPrimary.outline buttonPrimary
				button.buttonSecondary.outline buttonSecondary
				button.buttonSuccess.outline buttonSuccess
				button.buttonDanger.outline buttonDanger
				button.buttonWarning.outline buttonWarning
				button.buttonInfo.outline buttonInfo
				button.buttonLight.outline buttonLight
				button.buttonDark.outline buttonDark

		section
			h1.heading1 Disabled buttons

			.demo
				button.button.disabled button
				button.buttonPrimary.disabled buttonPrimary
				button.buttonSecondary.disabled buttonSecondary
				button.buttonSuccess.disabled buttonSuccess
				button.buttonDanger.disabled buttonDanger
				button.buttonWarning.disabled buttonWarning
				button.buttonInfo.disabled buttonInfo
				button.buttonLight.disabled buttonLight
				button.buttonDark.disabled buttonDark

		section
			h1.heading1 Focus buttons

			.demo
				button.button.focus button
				button.buttonPrimary.focus buttonPrimary
				button.buttonSecondary.focus buttonSecondary
				button.buttonSuccess.focus buttonSuccess
				button.buttonDanger.focus buttonDanger
				button.buttonWarning.focus buttonWarning
				button.buttonInfo.focus buttonInfo
				button.buttonLight.focus buttonLight
				button.buttonDark.focus buttonDark

		section
			h1.heading1 Active buttons

			.demo
				button.button.active button
				button.buttonPrimary.active buttonPrimary
				button.buttonSecondary.active buttonSecondary
				button.buttonSuccess.active buttonSuccess
				button.buttonDanger.active buttonDanger
				button.buttonWarning.active buttonWarning
				button.buttonInfo.active buttonInfo
				button.buttonLight.active buttonLight
				button.buttonDark.active buttonDark

		section
			h1.heading1 Size buttons

			.demo
				button.buttonPrimary.size1 buttonPrimary
				button.buttonPrimary.size2 buttonPrimary
				button.buttonPrimary.size3 buttonPrimary
				button.buttonPrimary.size4 buttonPrimary
