@require './mixins.styl'
use('capitalize.js')
use('storeVar.js')
$tokensJson = json('tokens.json', { hash: true })
$tokens = {}

generateTokens($tokensLevel, $prevKey = '', $rootProps = false)
	for $key, $val in $tokensLevel
		$currentPropName = $prevKey + capitalize($key)

		if (!(($val.value)))
			generateTokens($val, $currentPropName, $rootProps)
		else
			$value = $val.value
			$propName = $currentPropName
			$customPropName = '--' + $currentPropName

			if ($rootProps)
				{$customPropName} $value
			else
				$tokens[$currentPropName] = {
					val: $value,
					var: unquote('var(--' + $currentPropName + ')'),
					varDef: unquote('var(--' + $currentPropName + ', ' + $value + ')')
				}

generateTokens($tokensJson)
