use('capitalize.js')

$tokensJson = json('tokens.json', { hash: true })

$tk = {}

generateTokens($tokensLevel, $prevKey = '')
  for $key, $val in $tokensLevel
    $currentPropName = $prevKey + capitalize($key)
    if !$val.value
      generateTokens($val, $currentPropName)
    else
      $value=$val.value
      $propName=$currentPropName
      $customPropName='--' + $currentPropName

      // {$customPropName}: $value
      $tk[$currentPropName] = {
        val: $value
        var: unquote('var(--' + $currentPropName + ')')
        varDef: unquote('var(--' + $currentPropName + ', ' + $value + ')')
      }


generateTokens($tokensJson)
