boxDefault($name)
	[class*={$name}]
		--BackgroundColor transparent
		--Baseline $tokens.RhythmVertical.varDef
		--BorderColor var(--BackgroundColor)
		--BorderWidth 0
		--Color $tokens.ColorDarkMain.varDef
		--Margin 0
		--Padding calc(var(--Baseline) * 1)
		background-color var(--BackgroundColor)
		border var(--BorderWidth) solid var(--BorderColor)
		color var(--Color)
		margin var(--Margin)
		padding var(--Padding)

	for $colorName, $colorConfig in $tokensJson.color
		for $colorVariant, $val in $colorConfig
			if ($colorVariant == 'main')
				$colorVaviantName = ''
			else
				$colorVaviantName = $colorVariant
			$colorFullName = capitalize($colorName) + capitalize($colorVaviantName)
			.{$name}{$colorFullName}
				--MainColor var(unquote('--Color' + unquote($colorFullName)), $val.value)
				--Color $val.textColor
				--BackgroundColor var(--MainColor)

boxOutline()
	.outline
		--BorderWidth $tokens.BorderWidthDefault.varDef
		--Padding calc( var(--Baseline) - var(--BorderWidth) )
		--Color $tokens.ColorDarkMain.varDef
		--BorderColor var(--MainColor, transparent)
		--BackgroundColor transparent
