html
  head
    link(rel='stylesheet', href='/_docs/index.css')
    link(rel='stylesheet', href='/index.css')
  body.doc

    h1.heading1 KompLib

    ul.list
      li
        a(href='/')
          | Home
      li
        a(href='/grid')
          | Grid
      li
        a(href='/typography')
          | Typography
      li
        a(href='/space')
          | Space
      li
        a(href='/_demos')
          | Demos
