html
  head
    link(rel='stylesheet', href='/_docs/index.css')
    link(rel='stylesheet', href='/index.css')
  body.doc
    h1 KompLib

    ul
      li
        a(href='/')
          | Home
      li
        a(href='/grid')
          | Grid
      li
        a(href='/typography')
          | Typography
